
header, footer {
    text-align: center;
    background-color: #1f5baa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

header {
    color: white;
    border-radius: 25px 25px 0px 0px;
}

footer {
    color: white;
    border-radius: 0px 0px 25px 25px;
}

/*Logo*/
header img {
    float:left;
    width: 128px;
    height: 128px;
}

/*Navigation Menu*/
nav {
    padding: 0px;
    margin-top: -1em;
    font-size: 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: block;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
}

nav ul li:hover {
    background-color: rgb(16, 13, 56);
}

nav ul a:hover {
    color: yellow;
}

.selected {
    background-color: rgb(16, 13, 56);
}

/*Page parts*/
main {
    display: grid;
    grid-template-columns: auto;
    max-width: 75%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
    font-family: Verdana, Calabri, san-sarif;
}

main h2 {
    border-bottom: 1px solid black;
}

p {
    padding-left: 2em;
    padding-right: 2em;
}

#typography {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#typography td {
    border: 2px solid black;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%; 
}

/*Footer*/
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}

footer a:hover {
    color: #DDDD;
}

footer p.legal {
    margin-bottom: 9px;
    font-size: 0.9em;
}

.modified {
    color: yellow;
    font-size: 0.8em;
    margin-top: 0;
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    nav ul {
        justify-content: center;
    }
}

@media only screen and (min-width: 960px) {
    nav ul {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
}

/*Experimental-Tidy up!*/

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
    
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
    color: grey;
  }
  
  .primary {
    background-color: white;
    border: 1px solid black;
  }
  .secondary {
    background-color: #1f5baa;
  }
  .accent1 {
    background-color: rgb(16, 13, 56);
  }
  .accent2{
    background-color: yellow;
  }
  
  p.colored {
    background-color: black;
    color: white;
  }