/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700|Sofia");

body {
  font-family: Verdana, Calabri, san-sarif;
  background-color: white;
}

#card {
  width: 700px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  background-color: aquamarine;
  color: white;
  text-align: center;
  border-radius: 5px;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  margin-left: 5px;
  text-align: left;
}

a:hover {
  color: darkcyan;
}

img {
  float: right;
  width: 130px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 5px;
  margin-bottom: 5px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.bottom {
  font-size: 10px;
  background-color: aquamarine;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.bottom a {
  color: white;
}

.note {
  font-size: 9px;
  color: yellow;
}
