@media only screen and (min-width: 960px) {
    #templeList {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 1em 1em;
        text-align: center;
    }
    iframe {
        display: inline;
        border-radius: 10px;
        grid-row: 1/3;
        padding: 1em;
    }
    #contact-info {
        display: grid;
        grid-template-columns: auto auto;
    }
    #send-message {
        grid-column: 2;
    }
    #main {
        display:grid;
        grid-template-columns: 940px auto;
    }

    #main section {
        padding: 2em;
    }

}
#res {
    background-color: #ffffff00;
    border-radius: 10px;
    text-decoration: none;
    background-image: url("/Final_Project/images/arrow.png");
    padding: 4.5em;
    position: absolute;
    bottom: 2em;
    right: 25em;
}
#res a {
    color: white;
    text-decoration: none;
}