@media only screen and (min-width: 960px) {
    #templeList {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 1em 1em;
        text-align: center;
    }
    iframe {
        display: inline;
        border-radius: 10px;
        grid-row: 1/3;
        padding: 1em;
    }
    #contact-info {
        display: grid;
        grid-template-columns: auto auto;
    }
    #send-message {
        grid-column: 2;
    }
}