.dad-bg {
    background: url("../images/dad-jokes-bg.jpg") no-repeat;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    font-family: 'Coming Soon', cursive;
    display: grid;
    grid-template-columns: 300px;
}

#dad-joke {
    align-self: center;
    font-size: 35px;
    padding-left: 50px;
}

#dad-joke.small {
    font-size: 35px; 
}

button {
    position: relative;
    top: -50px;
    left: 350px;

    box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #b88d61 5%, #634b30 100%);
	background-color:#b88d61;
	border-radius:7px;
	border:1px solid #54381e;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}

button:hover {
	background:linear-gradient(to bottom, #634b30 5%, #b88d61 100%);
	background-color:#634b30;
}



.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }